/*========================================================
                        Camera
=========================================================*/
.camera_container {
    position: relative;
    padding-bottom: 58.73171%;
}

@media (max-width: 595.93024px) {
    .camera_container {
        padding-bottom: 350px;
    }
}

.camera_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 0 !important;
    height: 100%;
    background: #fff;
    z-index: 0;
}

    .camera_wrap img {
        max-width: none !important;
    }

.camera_fakehover {
    height: 100%;
    min-height: 60px;
    position: relative;
    width: 100%;
}

.camera_src {
    display: none;
}

.cameraCont, .cameraContents {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.cameraSlide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cameraContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.camera_target {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: left;
    z-index: 0;
}

.camera_overlayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.camera_target_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
}

.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
    border: 1px solid #ffffff;
    border-radius: 18px;
    height: 36px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    margin: -18px 0 0 -18px;
    top: 50%;
    width: 36px;
    z-index: 3;
}

.camera_nav_cont {
    height: 65px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 15px;
    width: 120px;
    z-index: 4;
}

.camerarelative {
    overflow: hidden;
    position: relative;
}

.imgFake {
    cursor: pointer;
}

.camera_command_wrap .hideNav {
    display: none;
}

.camera_command_wrap {
    left: 0;
    position: relative;
    right: 0;
    z-index: 4;
}

.showIt {
    display: none;
}

.camera_clear {
    clear: both;
    display: block;
    height: 1px;
    margin: -1px 0 25px;
    position: relative;
}

.camera_caption {
    display: none;
}

.cameraContent .camera_caption {
    display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
    position: absolute;
    top: 425px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}

@media (max-width: 1699px) {
    .camera_caption {
        top: 290px;
    }
}

@media (max-width: 1199px) {
    .camera_caption {
        top: 190px;
    }
}

@media (max-width: 979px) {
    .camera_caption p, .camera_caption .btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .camera_caption h2 {
        display: none;
    }
}

.camera_caption > div {
    height: 100%;
    padding: 0 0px;
}

.camera_caption h2 {
    color: rgba(255,255,255,1);
    font-size: 44px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 4px;
    background:rgba(0,0,0,0.2);
    font-family:Calibri;
}

    .camera_caption h2 em {
        display: block;
        font-size: 60px;
        line-height: 120px;
        font-weight: bold;
        /*letter-spacing: 14px;*/
        margin-top: 12px;
    }

    .camera_caption h2 + p {
        font-weight: 300;
        margin-top: 0;
    }

.camera_caption * + .btn {
    padding: 28px 90px;
    margin-top: 45px;
}

@media (max-width: 1699px) {
    .camera_caption h2 {
        font-size: 64px;
        letter-spacing: 0;
    }

        .camera_caption h2 em {
            margin-left: 0;
            font-size: 50px;
            letter-spacing: 0;
        }
}

@media (max-width: 1499px) {
    .camera_caption h2 {
        font-size: 44px;
        letter-spacing: 0;
    }

        .camera_caption h2 em {
            margin-left: 0;
            font-size: 50px;
            letter-spacing: 0;
        }
}

@media (max-width: 979px) {
    .camera_caption {
        width: 100% !important;
        margin-left: 10px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .camera_caption h2 {
        font-size: 36px;
    }

        .camera_caption h2 em {
            font-size: 40px;
        }
}

@media (max-width: 479px) {
    .camera_caption h2 {
        font-size: 22px;
    }

        .camera_caption h2 em {
            font-size: 30px;
        }
}

.camera_pag {
    position: absolute;
    bottom: 59px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1170px;
    z-index: 99999999;
}

@media (max-width: 1199px) {
    .camera_pag {
        bottom: 30px;
    }
}

.camera_pag_ul {
    text-align: left;
}

    .camera_pag_ul li {
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        border: 3px solid #fff;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #fff;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

        .camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
            background: none;
        }

        .camera_pag_ul li + li {
            margin-left: 8px;
        }

        .camera_pag_ul li > span {
            display: none;
        }

@media (max-width: 1365px) and (min-width: 1200px) {
    .camera_pag {
        /*top: 70%;*/
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .camera_pag {
        width: 940px;
        /*top: 70%;*/
    }
}

@media (max-width: 979px) {
    .camera_pag {
        width: 100%;
        top: auto;
        /*bottom: 30px;*/
    }

    .camera_pag_ul {
        text-align: center;
        padding-left: 0px;
    }
}

.camera_container {
    position: relative;
    padding-bottom: 58.73171%;
}

@media (max-width: 595.93024px) {
    .camera_container {
        padding-bottom: 350px;
    }
}

.camera_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 0 !important;
    height: 100%;
    background: #fff;
    z-index: 0;
}

    .camera_wrap img {
        max-width: none !important;
    }

.camera_fakehover {
    height: 100%;
    min-height: 60px;
    position: relative;
    width: 100%;
}

.camera_src {
    display: none;
}

.cameraCont, .cameraContents {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.cameraSlide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cameraContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.camera_target {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: left;
    z-index: 0;
}

.camera_overlayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.camera_target_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
}

.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
    border: 1px solid #ffffff;
    border-radius: 18px;
    height: 36px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    margin: -18px 0 0 -18px;
    top: 50%;
    width: 36px;
    z-index: 3;
}

.camera_nav_cont {
    height: 65px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 15px;
    width: 120px;
    z-index: 4;
}

.camerarelative {
    overflow: hidden;
    position: relative;
}

.imgFake {
    cursor: pointer;
}

.camera_command_wrap .hideNav {
    display: none;
}

.camera_command_wrap {
    left: 0;
    position: relative;
    right: 0;
    z-index: 4;
}

.showIt {
    display: none;
}

.camera_clear {
    clear: both;
    display: block;
    height: 1px;
    margin: -1px 0 25px;
    position: relative;
}

.camera_caption {
    display: none;
}

.cameraContent .camera_caption {
    display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
    position: absolute;
}

    .camera_caption > div {
        height: 100%;
    }

.camera_pag_ul {
    text-align: center;
}

    .camera_pag_ul li {
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        border-bottom: 3px solid #fff;
        text-align: center;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #fff;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

        .camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
            background: none;
        }

        .camera_pag_ul li + li {
            margin-left: 4px;
        }

        .camera_pag_ul li > span {
            display: none;
        }
